/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Initizlize CSS*/
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;

  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow:hidden; /* hide scrollbars */
}

/* Text on Start Screen*/
.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: hsla(30, 68%, 49%, 0.9);
}

.splash__image {
  display: flex;
  justify-content: center;

  padding-bottom: 5em;
}

span {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.3em;
}

.brutal__button {
  margin: 0 auto;
  padding: 1em 5em;
  background-color: white;
  border: 4px solid black;
  border-radius: 15px;
  box-shadow:8px 8px black;
}

.space-key {
  padding: 2em;

  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

.hidden {
  display: none;
}

/* Canvas Area*/
.canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: hsla(30, 68%, 49%, 0.9);
}

#canvas {
  border: 4px solid black;
  box-shadow:-1.5em -1.5em black;
  border-radius: 15px;
}
