/* DOMINANT COLOR */
/* #4c4d6a
rgb(76,77,106) */

/* Initizlize CSS*/
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;

  font-family: 'Helvetica', sans-serif;
  text-align: center;
  overflow:hidden; /* hide scrollbars */
}

/* Text on Start Screen*/
.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: hsla(30, 68%, 49%, 0.9);
}

.splash__image {
  display: flex;
  justify-content: center;

  padding-bottom: 5em;
}

span {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.3em;
}

.brutal__button {
  margin: 0 auto;
  padding: 1em 5em;
  background-color: white;

  border: 4px solid black;
  border-radius: 15px;
  box-shadow:8px 8px black;

  cursor: pointer;
}

.space-key {
  padding: 2em;

  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

.hidden {
  display: none;
}

/* Canvas Area*/
.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 100%;
  background-color: hsla(30, 68%, 49%, 0.9);
}

.canvas__frame {
  border: 0.25em solid black;
  box-shadow:-1.5em -1.5em black;
  border-radius: 1em;

  margin-bottom: 5em;
}

.canvas__button {
  position: absolute;
  right: 0;
  left: 0;
  top: 52%;

  width: 10vw;
  margin: 0 auto;
  padding: 0.5em 0;
  background-color: white;
  color: black;

  font-size: 1.3rem;
  font-weight: 600;

  border: 0.25em solid black;
  border-radius: 1em;

  cursor: pointer;
}